# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Ignore .terraform directories
**/.terraform/

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore .tfplan files
*.tfplan

# Ignore override files as they are usually used to override variables and not committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore .terraformrc and terraform.rc files
.terraformrc
terraform.rc

# Ignore .terraform.lock.hcl file
.terraform.lock.hcl

# Ignore CLI configuration files
cli.tfvars
cli.auto.tfvars

# Ignore the .git directory, it's meta information
.git/

# Ignore .vscode directory
.vscode/

# Ignore .idea directory (for JetBrains IDEs)
.idea/

# Ignore the .plan directory, a potential workspace directory
.plan/

# Ignore the .terraformignore file, used to specify patterns to exclude
.terraformignore

# Ignore .tf folder, which may contain provider binary plugins
.tf/

.env
__pycache__