region                = "${REGION}"
ado = {
  org                 = "${ORG}"
  project             = "${PROJECT}"
  endpoint_name       = "${ENDPOINT_NAME}"
  user                = "${USER}"
  token               = "${TOKEN}"
}
environment           = "${SYSTEM_STAGENAME}"
iam_user_name         = "${IAM_USER_NAME}"
discord_webhook_url   = "${DISCORD_WEBHOOK_URL}"
build_definition_name = "${BUILD_DEFINITIONNAME}"
build_number          = "${BUILD_BUILDNUMBER}"
storage_bucket        = "${STORAGE_BUCKET}"